<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header white-fg" fxLayoutAlign="center center">
           <span class="mat-headline">{{model.name}}</span>
      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card mat-white-bg">
          <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
            <mat-step [stepControl]="firstFormGroup">

                <ng-template matStepLabel>Select a Category</ng-template>

                <fuse-widget *ngFor="let category of categories | async" [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="200" fxFlex.gt-xs="500" fxFlex.gt-md="500">

                    <!-- Front -->
                    <div class="fuse-widget-front mat-white-bg mat-elevation-z0">

                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">

                            <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="end center">
                                <div class="h3 secondary-text font-weight-500">{{category.name}}</div>

                            </div>

                            <button mat-fab matStepperNext (click)="setCategory(category.name)">
                                <mat-icon class="mat-24" >{{category.icon}}</mat-icon>
                            </button>

                        </div>
                    </div>
                </fuse-widget>

            </mat-step>
            <mat-step [stepControl]="secondFormGroup" fxLayoutAlign="center center">
              <form>
                <ng-template matStepLabel>Fill out Your Course Information</ng-template>

                <mat-form-field class="form-component-full-width">
                   <input matInput placeholder="Course Title" [(ngModel)]="model.name" [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <mat-form-field class="form-component-full-width">
                 <textarea matInput placeholder="Course Description">{{model.description}}</textarea>
               </mat-form-field>

               <mat-form-field class="form-component-half-width">
                  <input matInput placeholder="Course Length"type = "number" min="0" [(ngModel)]="model.timeEstimate.time" [ngModelOptions]="{standalone: true}">
               </mat-form-field>

               <mat-form-field class="form-component-half-width">
                       <mat-select placeholder="Time Unit" [(ngModel)]="model.timeEstimate.scale" [ngModelOptions]="{standalone: true}">
                           <mat-option value="meses">Meses</mat-option>
                           <mat-option value="dias">Días</mat-option>
                       </mat-select>
               </mat-form-field>

               <mat-form-field class="form-component-half-width">
                  <input matInput placeholder="Course Price" [(ngModel)]="model.price" [ngModelOptions]="{standalone: true}">
               </mat-form-field>





                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext (click)="onSubmit()">Save</button>
                </div>
              </form>
            </mat-step>

          </mat-horizontal-stepper>
      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
