<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header white-fg" fxLayoutAlign="center center">
           <span class="mat-headline">{{model.name}}</span>
      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="card-content mat-white-bg">
          <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
            <mat-step [stepControl]="firstFormGroup">

                <ng-template matStepLabel>{{'COURSES.SELECT_CATEGORY' | translate}}</ng-template>

                <fuse-widget *ngFor="let category of categories | async" [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="200" fxFlex.gt-xs="500" fxFlex.gt-md="500">

                    <!-- Front -->
                    <div class="fuse-widget-front mat-white-bg mat-elevation-z0">

                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">

                            <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="end center">
                                <div class="h3 secondary-text font-weight-500">{{category.name}}</div>

                            </div>

                            <button mat-fab matStepperNext (click)="setCategory(category)">
                                <mat-icon class="mat-24" >{{category.icon}}</mat-icon>
                            </button>

                        </div>
                    </div>
                </fuse-widget>

            </mat-step>
            <mat-step [stepControl]="secondFormGroup" fxLayoutAlign="center center">
              <form>
                <ng-template matStepLabel>{{'COURSES.FILL_COURSE_INFO' | translate}}</ng-template>

                <mat-form-field class="form-component-full-width">
                   <input matInput placeholder="{{'COURSES.COURSE_TITLE' | translate}}" [(ngModel)]="model.name" [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <mat-form-field class="form-component-full-width">
                 <textarea matInput placeholder="{{'COURSES.COURSE_DESCRIPTION' | translate}}">{{model.description}}</textarea>
               </mat-form-field>

               <mat-form-field class="form-component-half-width">
                  <input matInput placeholder="{{'COURSES.COURSE_LENGTH' | translate}}" type = "number" min="1" [(ngModel)]="model.timeEstimate.time" [ngModelOptions]="{standalone: true}">
               </mat-form-field>

               <mat-form-field class="form-component-half-width">
                       <mat-select placeholder="{{'COURSES.TIME_UNIT' | translate}}" [(ngModel)]="model.timeEstimate.scale" [ngModelOptions]="{standalone: true}">
                           <mat-option value="meses">{{'COURSES.MONTHS' | translate}}</mat-option>
                           <mat-option value="dias">{{'COURSES.DAYS' | translate}}</mat-option>
                       </mat-select>
               </mat-form-field>
               <mat-form-field class="form-component-half-width">
                       <mat-select placeholder="{{'COURSES.COURSE_DIFF' | translate}}" [(ngModel)]="model.difficulty" [ngModelOptions]="{standalone: true}">
                           <mat-option value= "1">{{'COURSES.EASY' | translate}}</mat-option>
                           <mat-option value= "2"  >{{'COURSES.MEDIUM' | translate}}</mat-option>
                           <mat-option value= "3" >{{'COURSES.HARD' | translate}}</mat-option>
                       </mat-select>
               </mat-form-field>
               <mat-form-field class="form-component-half-width">
                  <input matInput placeholder="{{'COURSES.COURSE_PRICE' | translate}}" [(ngModel)]="model.price" [ngModelOptions]="{standalone: true}">
               </mat-form-field>
                
           
               <!--Start EXPeriment-->
               <h4>Foto de Curso</h4>
               <div>
               <div fxFlex="45" class="dropzone" 
                    dropZone
                    (hovered)="toggleHover($event)"
                    (dropped)="startUpload($event)"
                    [class.hovering]="isHovering">

                    <h3>AngularFire Drop Zone</h3>

                    <div class="file">
                       <label class="file-label">
                       <input class="file-input" type="file" (change)="uploadSingle($event.target.files)">

                         <!--span class="file-cta">
                           <span class="file-icon">
                             <i class="fa fa-upload"></i>
                           </span>
                           <span class="file-label">
                             or choose a file…
                           </span>
                       </span-->
                       </label>
                       <label> <span> or drag and drop... </span>
                       </label>
                       
                     </div>
                </div>
               <div fxFlex fxFlexOffset="5"> <!--*ngIf="snapshot | async as snap"-->
                 <div *ngIf="currentUpload?.url as url">
                   <img class="uploaded-image" [src]="url"><br>
                 </div>
               <div *ngIf="currentUpload">
               <!--pct-->
                 <progress class="progress is-info" 
                           [value]="currentUpload?.progress"
                           max="100">        
                 </progress>
                 {{ currentUpload?.progress | number }}%
               </div>
               </div>
                   </div>
               <!--End EXPeriment-->
                <div>
                  <button mat-button matStepperPrevious>{{'COURSES.BACK_BUTTON' | translate}}</button>
                  <button mat-button matStepperNext (click)="onSubmit()">{{'COURSES.SAVE_BUTTON' | translate}}</button>
                </div>
              </form>
            </mat-step>

          </mat-horizontal-stepper>
      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
