
.course-input-form{
  min-width: 150px;
  width: 100%;
}

.form-component-full-width {
  width: 100%;
}


.form-component-half-width {
  width: 49%;
}

.category-btn {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #4CAF50;
  display: inline;
  margin: auto;
  background-image: url(/assets/icons/sofia/translate.png);
}

.coursesCard {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.categories {
  margin-left: auto;
  margin-top: auto;
}

.category{
  display: inline-block;
  margin: 30px;
  text-align: center;
}

.courseData{
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.imageUpload{
  width: 50%;
}

.rightParams{
  display: inline-block;
  text-align: center;
  width: 50%;
  float: right;
}

.costParams{
  display: flex;
}

.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    height: 300px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;

    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }
}

.uploaded-image{ 
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column; 
    height: 300px;
    background: white;
    margin: 12px 0;
}


progress::-webkit-progress-value {
    transition: width 0.1s ease;
}
