       
            <div style="width: 100%; ">
                <div class="mat-light-white-600-bg" style="margin-left: 10px">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-chip-list>
                            <div *ngFor = "let hashtag of hashtags | async">
                                <mat-chip color="accent" selected="true" (click) = "filterByHashtag(hashtag.hashtag)" style="cursor: pointer !important; ">{{hashtag.hashtag}}</mat-chip>
                            </div>
                        </mat-chip-list>  
                    </div>
                    
                </div>
                <div style="margin-left: 20px;">
                    <div *ngIf = "questions | async as questionsReceived; else loading">
                        <div *ngFor="let question of questionsReceived" style="margin-top: 10px;">
                            <div class ="question">
                                <mat-chip-list >
                                    <div *ngFor = "let hashtag of question.hashtagsArray" style="margin: 5px 0px 5px 5px; margin-bottom: 10px;">
                                        <mat-basic-chip class="mat-light-blue-900-bg" selected="true" (click) = "filterByHashtag(hashtag)" style="cursor: pointer !important; padding: 7px; border-radius: 24px;">{{hashtag}}</mat-basic-chip>
                                    </div>
                                </mat-chip-list>
                                <div class = "comment" fxflexfill="" fxlayout="row" style="height: 100%; margin: 0px; min-height: 100%; min-width: 100%; width: 100%; flex-direction: row; box-sizing: border-box; display: flex;">
                                    <img  class="avatar" src="assets/images/avatars/Abbott.jpg">

                                    <div class="ng-tns-c80-126" fxflex="" fxlayout="column" style="flex: 1 1 1e-09px; box-sizing: border-box; flex-direction: column; display: flex;">
                                        <div  class="ng-tns-c80-126" fxlayout="row" fxlayoutalign="start center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
                                            <span class="mat-body-2">Juan Pérez</span>
                                        </div>
                                        <span  class="mat-caption">Junio 10, 2018</span>

                                        <span class="mat-body-1" style="margin: 5px 0px 5px 0px;">
                                            {{question.question}}
                                        </span>
                                    </div>
                                </div>
                                <div class = "comment" fxflexfill="" fxlayout="row" style="height: 100%; margin: 0px; min-height: 100%; min-width: 100%; width: 100%; flex-direction: row; box-sizing: border-box; display: flex; padding-left: 20px;">
                                    <img  class="avatar" src="assets/images/avatars/danielle.jpg">

                                    <div class="ng-tns-c80-126" fxflex="" fxlayout="column" style="flex: 1 1 1e-09px; box-sizing: border-box; flex-direction: column; display: flex;">
                                        <div  class="ng-tns-c80-126" fxlayout="row" fxlayoutalign="start center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
                                            <div *ngIf = 'question.originalAnswer !== "" '>
                                                <span class="mat-body-2">Creadora del curso</span>
                                            </div>
                                            <div *ngIf = 'question.originalAnswer === "" ' style="width:100%">
                                                <mat-form-field style="width: 80%">
                                                    <input matInput (keyup.enter)="sendAnswer(question)" [(ngModel)]="question.answer" placeholder="Respuesta">
                                                </mat-form-field>
                                                <button class="mat-raised-button mat-accent" color="accent" mat-raised-button="" (click)="sendAnswer(question)"><span class="mat-button-wrapper">
                                                    Enviar
                                                </span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button>
                                            </div>
                                        </div>
                                        <div *ngIf = 'question.originalAnswer !== "" '>
                                            <span  class="mat-caption">Junio 10, 2018</span>
                                        </div>
                                        <div *ngIf = 'question.originalAnswer !== "" ' style="margin: 5px 0px 5px 0px;">
                                            <span class="mat-body-1" >
                                                {{question.answer}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div>
                    <ng-template #loading><mat-progress-bar mode="buffer"></mat-progress-bar></ng-template>
                </div>    
            </div>                    




