<div id="non-reg-landing-page" class="page-layout simple right-sidenav" fxLayout="row">

  <mat-sidenav-container>

      <!-- CENTER -->
      <div class="center" fusePerfectScrollbar>

          <!-- HEADER -->
          <div class="header mat-accent-bg p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

              <div fxLayout="row" fxLayoutAlign="end center">

                  <!-- SEARCH -->
                  <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                      <label for="search" class="mr-8">
                          <mat-icon>search</mat-icon>
                      </label>
                      <mat-form-field mat-no-float class="m-0" floatPlaceholder="never">
                          <input matInput  id="search" placeholder="{{'LP.SEARCH' | translate}}"  [(ngModel)]="searchBarInput" [ngModelOptions]="{standalone: true}" >
                      </mat-form-field>
                  </div>
                  <!-- / SEARCH -->

              </div>

              <div fxLayout="row">

                  <mat-select class="selected-project" placeholder="{{ 'LP.FILTER' | translate }}" [(value)]="categorySelected">

                      <mat-option value = "All">{{ "LP.CATEGORY_ALL" | translate }}</mat-option>

                      <mat-optgroup label = "{{ 'LP.COURSES' | translate }}">
                        <mat-option value = "popular">{{ "LP.POPULAR" | translate }}</mat-option>
                        <mat-option value = "rated">{{ "LP.BEST_RATED" | translate }}</mat-option>
                      </mat-optgroup>

                      <mat-optgroup label = "{{ 'LP.CATEGORIES' | translate }}">
                          <mat-option *ngFor="let category of categories | async" [value] = "category.name">
                            {{ category.name }}
                          </mat-option>
                      </mat-optgroup>

                  </mat-select >

              </div>
          </div>
          <!-- / HEADER -->

          <!-- CONTENT -->
          <div class="content">

              <mat-tab-group dynamicHeight>

                  <mat-tab label = "{{ 'LP.HOME' | translate }}">
                      <!-- WIDGET GROUP -->

                      <div class="widget-group p-12" fxLayout="row" fxFlex="100" fxLayoutWrap *fuseIfOnDom [@animateStagger]="{value:'50'}">

                          <ng-container *ngFor="let course of courses | async">



                            <ng-container *ngIf="((course.category == categorySelected) || categorySelected == 'All'); else byCourses "  >

                              <fuse-widget  *ngIf="testInput(course.name)"  [@animate]="{value:'*',params:{y:'100%'}}"  class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">

                                  <!-- Front -->
                                  <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

                                      <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">

                                      </div>

                                      <div class="h-400 media" >


                                          <img [src] = "course.imageData.url">


                                      </div>

                                      <div class="py-8 mh-16 border-top info-bar" fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
                                          <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
                                              <span class="mat-display-1 mb-0">{{course.name}}</span>
                                              <span class="h4">{{'LP.BY_AUTHOR' | translate }} {{course.author}}</span>

                                              <button mat-button  class="cardColors m-12" >
                                                  <mat-icon class="mat-24">info</mat-icon>{{ 'LP.MORE_INFO' | translate }}
                                              </button>


                                          </div>
                                      </div>

                                      <div class="py-8 mh-8 border-top info-bar" fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
                                          <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
                                              <span class="h4 ml-8"> <mat-icon>thumb_up_outline</mat-icon> {{course.rating.positive}} </span>
                                              <span class="h4 ml-8"> <mat-icon>thumb_down_outline</mat-icon> {{course.rating.negative}} </span>
                                          </div>

                                          <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
                                              <span class="h4 ml-8"> <mat-icon>attach_money</mat-icon> {{course.price}} </span>
                                              <span class="h4 ml-8"> <mat-icon>alarm</mat-icon> {{course.timeEstimate.time}}  {{course.timeEstimate.scale}}  </span>
                                         </div>

                                      </div>



                                  </div>
                                  <!-- / Front -->

                              </fuse-widget>
                            </ng-container>

                            <ng-template #byCourses>


                            </ng-template>
                          </ng-container>



                      </div>

                      <!-- / WIDGET GROUP -->
                  </mat-tab>



              </mat-tab-group>



          </div>
          <!-- / CONTENT -->


      </div>
      <!-- / CENTER -->


  </mat-sidenav-container>



</div>
