.viewGameCard{
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  overflow-y: auto;
  width: 95%;
  padding: 0px;
}

.mat-icon {
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 200px;
}