<div class="page-layout blank grey-100-bg ps ps--active-y" fuseperfectscrollbar>

  <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">

    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="end center">


        <div *ngIf="this.currentState == ComponentState.IsCreating">
            <button [routerLink]="['../../games']" matTooltipPosition = "above" matTooltip="Back" mat-icon-button>
                    <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </div>

        <div *ngIf="this.currentState == ComponentState.IsEditing">
          <button [routerLink]="['../../../games']" matTooltipPosition = "above" matTooltip="Back" mat-icon-button>
                  <mat-icon>keyboard_backspace</mat-icon>
          </button>
        </div>
        <div *ngIf="this.currentState == ComponentState.IsCreating">

           <h1>{{'CREATEGAME.TITLE' | translate}}</h1>
        </div>
        <div *ngIf="this.currentState == ComponentState.IsEditing">
           <h1>{{'EDITGAME.TITLE' | translate}}</h1>
        </div>

    </div>
  </div>

  <div style="float: left; width: 80%;"></div>
  <div style="float: right; width: 20%; ">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'CREATEGAME.ADDQUESTION' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
       <mat-list-item>
         <a mat-button class="mat-raised-button mat-accent" color="accent" (click)="addQuestion()">{{'CREATEGAME.MULTIPLECHOICE' | translate}}</a>
       </mat-list-item>
       <mat-list-item>
        <a mat-button class="mat-raised-button mat-warn" color="warn" (click)="addQuestion()">{{'CREATEGAME.FILLINTHEBLANK' | translate}}</a>
      </mat-list-item>
      </mat-list>
  </mat-expansion-panel>
  </div>
  <mat-card class="createGameCard">
    <mat-card-header [style.backgroundColor]="'orange'" [style.color]="'white'" >
    </mat-card-header>
      <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
        <mat-card-content style="padding: 40px;">
              <mat-form-field style="width: 100%">
                  <input formControlName="name" matInput placeholder="{{'CREATEGAME.GAMETITLE' | translate}}">
              </mat-form-field>
              <br>
            <mat-form-field style="width: 100%">
              <textarea matInput formControlName="description" placeholder="{{'CREATEGAME.GAMEDESCRIPTION' | translate}}"></textarea>
            </mat-form-field>
            <br>
            <div formArrayName="questions">
              <div [formGroupName] = "i" *ngFor="let question of gameForm.controls.questions.controls; let i = index; let l = last"  >
                <mat-grid-list cols="8" rowHeight="100px">
                    <mat-grid-tile
                      [colspan]="1"
                      [rowspan]="1"
                      [style.background]="lightgreen">
                    <a class = "button" (click)="deleteQuestion(i)">
                      <img src="assets/icons/sofia/delete.png" alt="sup" width="30" height="30" border="0">
                    </a>
                    <a class = "button" (click)="addAnswer(i)">
                      <img src="assets/icons/sofia/add_nofill.png" alt="sup" width="30" height="30" border="0">
                    </a>
                  </mat-grid-tile>
                  <mat-grid-tile
                      [colspan]="1"
                      [rowspan]="1">
                      <h2>{{i + 1}}.</h2>
                  </mat-grid-tile>
                  <mat-grid-tile
                      [colspan]="6"
                      [rowspan]="1"
                      [style.background]="lightblue">
                      <mat-form-field style="width: 100%">
                                 <input  matInput formControlName="question" placeholder="{{'CREATEGAME.QUESTION' | translate}} {{i + 1}}" >
                      </mat-form-field>
                  </mat-grid-tile>
                </mat-grid-list>
                <mat-list formArrayName="answers" style="width:80%;">
                  <div [formGroupName]="j"  *ngFor="let ans of question.controls.answers.controls; let j = index">
                    <mat-grid-list cols="8" rowHeight="100px">
                      <mat-grid-tile
                          [colspan]="7"
                          [rowspan]="1">
                          <mat-checkbox formControlName = "isCorrect"></mat-checkbox>
                          <mat-form-field style="width: 100%">
                                <input  matInput formControlName="answer" placeholder="{{'CREATEGAME.ANSWER' | translate}} {{j + 1}}" >
                          </mat-form-field>
                      </mat-grid-tile>
                      <mat-grid-tile
                          [colspan]="1"
                          [rowspan]="1">
                          <a class = "button" (click)="deleteAnswer(i,j)">
                            <img src="assets/icons/sofia/delete_x.png" alt="sup" width="30" height="30" border="0">
                          </a>
                      </mat-grid-tile>
                    </mat-grid-list>
                  </div>
                </mat-list>
                <mat-divider></mat-divider>
              </div>
            </div>
<!--             <pre>form value: <br>{{gameForm.value | json}}</pre>
 -->        </mat-card-content>
      <mat-card-actions align="end" style="padding: 40px;">
        <div matTooltip="{{'CREATEGAME.TOOLTIP' | translate}}" matTooltipPosition="above" style = "margin-right: 15px; margin-top: 10px;">
          <mat-checkbox formControlName = "isPublic">{{'CREATEGAME.PUBLIC' | translate}}</mat-checkbox>
        </div>
        <div *ngIf="this.currentState == ComponentState.IsCreating">
          <button mat-button type="submit" class="mat-raised-button mat-primary" color="primary">{{'CREATEGAME.SEND' | translate}}</button>
           </div>
           <div *ngIf="this.currentState == ComponentState.IsEditing">
              <button mat-button type="submit" class="mat-raised-button mat-primary" color="primary">{{'EDITGAME.SEND' | translate}}</button>
           </div>

      </mat-card-actions>
    </form>
  </mat-card>

</div>
