/*---------------------------Image Slider--------------------------*/
.slider{
  height:400px;
  width:100%;
  font-size: 500%;
  color: black;
  z-index: 0;
  background: #fff;
  position: relative;
}

.slider ul{
  display: flex;
  padding: 0;
  justify-content: center;
  margin: 0;
}
.slider ul li {
  list-style: none;
  width: 100%;
  display: none;
}
.slider ul li img{
  max-width:100%;
  min-width:100%;
  max-height: 400px;
  height: 100%;
  display: block;
}

.slider ul li.active{
  display: inline-block;
}
.slider ul li.backward{
  animation: slideShow0 1.2s cubic-bezier(0.6, -0.61, 0, 1.34);
}
.slider ul li.forward{
  animation: slideShow1 1.2s cubic-bezier(0.6, -0.61, 0, 1.34);
}
.slider ul li.animateBack{
  display: inline-block;
  position: absolute;
  animation: slideShow2 1s cubic-bezier(0.38,-0.74, 0, 1.29) forwards;
  animation-delay: 0.1s;
}
.slider ul li.animateForward{
  display: inline-block;
  position: absolute;
  animation: slideShow3 1s cubic-bezier(0.38,-0.74, 0, 1.29)  forwards;
  animation-delay: 0.1s;
}
.slider .sliderArrows{
  display:flex;
  position: absolute;
  flex-flow:row wrap;
  justify-content:space-between;
  width: 100%;
  align-items:center;
  height: 100%;
  z-index: 101;
}
.slider .sliderArrows a{
  cursor:pointer;
  font-weight: 100;
}


@keyframes slideShow0{
  0%{
       translate:-1000px;
       visibility: hidden;
       opacity: 0;
  }
  100%{
      translate:0px;
      visibility: visible;
      opacity:1;
  }

}


@keyframes slideShow1{
  0%{
       translate:1000px;
       visibility: hidden;
       opacity: 0;
  }
  100%{
      translate:0px;
      visibility: visible;
      opacity:1;
  }

}

@keyframes slideShow2{
   0%{
      display: inline-block;
      translate:0px;
      visibility: visible;
      opacity: 1;
   }
  100%{
      translate:-1000px;
      visibility: hidden;
      opacity: 0;
  display: none;
      /*display: none;*/
   }

}

@keyframes slideShow3{
   0%{
      display: inline-block;
      translate:0px;
      visibility: visible;
      opacity: 1;
   }
  100%{
      translate:1000px;
      visibility: hidden;
      opacity: 0;
  display: none;
      /*display: none;*/
   }
}
/*---------------------------Image Slider Ends----------------------------*/
