<div id="faq" class="page-layout simple" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text mb-32">
            <h1>{{'FAQ.SUBTITLE' | translate }}</h1>
            <h3>{{'FAQ.TITLE' | translate }}</h3>
        </div>

        <div class="search mat-white-bg mat-elevation-z7" flex fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>search</mat-icon>
            <input [formControl]="searchInput" placeholder="Search in faqs.." fxFlex>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content px-16 py-24 px-sm-24 py-sm-32">

        <mat-accordion class="faqs-accordion">

            <mat-expansion-panel *ngFor="let generalQuestion of faqGeneral | async">
                <mat-expansion-panel-header>
                    <mat-panel-title flex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="mr-8">help_outline</mat-icon>
                        {{generalQuestion.Question}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                {{generalQuestion.Answer}}
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- / CONTENT -->

</div>
