<div id="faq" class="page-layout simple" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text mb-32">
            <h1>{{'FAQ.SUBTITLE' | translate }}</h1>
            <h3>{{'FAQ.TITLE' | translate }}</h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content px-16 py-24 px-sm-24 py-sm-32">


        <div class="hero-text mb-32">
            <h1>{{'FAQ.GENERAL_FAQ' | translate }}</h1>
        </div>
        <mat-accordion class="faqs-accordion">

            <mat-expansion-panel *ngFor="let generalQuestion of faqGeneral | async">
                <mat-expansion-panel-header>
                    <mat-panel-title flex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="mr-8">help_outline</mat-icon>
                        {{generalQuestion.Question}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                    <ng-container *ngFor="let answer of generalQuestion.Answer" >

                            <ng-container *ngIf="answer.isText" >
                                <br>
                                {{answer.text}}
                                <br>
                            </ng-container>

                            <ng-container *ngIf="!answer.isText" >
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <br>
                                    <img class="img" src="{{answer.text}}">
                                    <br>
                                </div>
                            </ng-container>

                    </ng-container>

            </mat-expansion-panel>
        </mat-accordion>
    </div>



    <div class="content px-16 py-24 px-sm-24 py-sm-32">


            <div class="hero-text mb-32">
                    <h1>{{'FAQ.PROF_FAQ' | translate }}</h1>
             </div>


            <mat-accordion class="faqs-accordion">

                <mat-expansion-panel *ngFor="let generalQuestion of faqProfessor | async">
                    <mat-expansion-panel-header>
                        <mat-panel-title flex fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="mr-8">help_outline</mat-icon>
                            {{generalQuestion.Question}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                        <ng-container *ngFor="let answer of generalQuestion.Answer" >

                                <ng-container *ngIf="answer.isText" >
                                    <br>
                                    {{answer.text}}
                                    <br>
                                </ng-container>


                                <ng-container *ngIf="!answer.isText" >
                                    <div fxLayout="row" fxLayoutAlign="center center">
                                        <br>
                                        <img class="img" src="{{answer.text}}">
                                        <br>
                                    </div>
                                </ng-container>

                        </ng-container>

                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="content px-16 py-24 px-sm-24 py-sm-32">



                <div class="hero-text mb-32">
                        <h1>{{'FAQ.STUDENT_FAQ' | translate }}</h1>
                </div>

                <mat-accordion class="faqs-accordion">

                    <mat-expansion-panel *ngFor="let generalQuestion of faqStudent | async">
                        <mat-expansion-panel-header>
                            <mat-panel-title flex fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mr-8">help_outline</mat-icon>
                                {{generalQuestion.Question}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                            <ng-container *ngFor="let answer of generalQuestion.Answer" >

                                    <ng-container *ngIf="answer.isText" >
                                        <br>
                                        {{answer.text}}
                                        <br>
                                    </ng-container>


                                <ng-container *ngIf="!answer.isText" >
                                    <div fxLayout="row" fxLayoutAlign="center center">
                                        <br>
                                        <img class="img" src="{{answer.text}}">
                                        <br>
                                    </div>
                                </ng-container>

                            </ng-container>

                    </mat-expansion-panel>
                </mat-accordion>
            </div>




    <!-- / CONTENT -->

</div>
