h1{
  text-align: center;
  font-size: 34px;
}


.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.cardColors {
  background-color: #279BA8;
  color: #FFFF;
}
