
    <h1>{{'LOGININFO.REGISTER' | translate}}</h1>
  <mat-form-field>
    <input matInput placeholder="{{'LOGININFO.FULLNAME' | translate}}">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="{{'LOGININFO.EMAIL' | translate}}">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="{{'LOGININFO.PASSWORD' | translate}}">
    </mat-form-field>


    <mat-form-field>
        <input matInput placeholder="{{'LOGININFO.PASS_CONF' | translate}}">
      </mat-form-field>





    <button mat-button>{{'LOGININFO.CREATE_BUTTON' | translate}}</button>


