<div *ngIf = "!isRateViewActive" class="page-layout blank grey-100-bg ps ps--active-y" fuseperfectscrollbar>
    <mat-card class="viewGameCard">
      <mat-card-header [style.backgroundColor]="'orange'" [style.color]="'white'" >
        <mat-card-title>
          <div class="layout-row layout-align-end-start">
            <h1>{{gameData?.name}}</h1>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding: 40px;">

              <form [formGroup]="gameForm"  (ngSubmit)="onSubmit()">

            <mat-horizontal-stepper #stepper="matHorizontalStepper" linear>


              <div *ngFor = "let q of gameData?.questions; let i = index">

                <mat-step [stepControl]="q" formArrayName="questions">

                  <div [formGroupName]="i">


                <div *ngIf="q.type == 'multiple_choice'; else fillBlankAnswer" >
                    <h2>{{q.question}}</h2>

                    <mat-grid-list cols="2" rowHeight="200px" formArrayName="answers" >

                      <mat-grid-tile *ngFor = "let ans of q.answers; let j = index" [formGroupName]="j">

                        <mat-card class="question-card">
                          <mat-card-content>
                            <p>{{ans.answer}}</p>
                          </mat-card-content>
                          <mat-card-actions>
                            <mat-checkbox formControlName="isCorrect"  align="end"></mat-checkbox>
                          </mat-card-actions>
                        </mat-card>

                      </mat-grid-tile>

                    </mat-grid-list>

                  </div>


                  <ng-template #fillBlankAnswer>

                      <div  formArrayName="answers" >


                          <div *ngFor = "let ans of q.answers; let j = index" [formGroupName]="j" >

                              <mat-card *ngIf = "ans.isBlank == false; else blankAnswer"> {{ans.name}} </mat-card>
                              <ng-template #blankAnswer>
                                  <mat-card>
                                          <mat-form-field class="full-width">
                                            <input formControlName="name" matInput data-placeholder = "{{'GAME.PLACEHOLDER_ANS' | translate}}">
                                          </mat-form-field>
                                    </mat-card>
                              </ng-template>

                          </div>

                      </div>



                  </ng-template>

                  </div>



                  <div>
                      <button *ngIf="i >= 1" mat-button matStepperPrevious type="button"><img src="assets/icons/sofia/left_nav.png" alt="sup" width="30" height="30" border="0"></button>
                      <button mat-button matStepperNext type="button"  *ngIf="i < gameData?.questions.length - 1" ><img src="assets/icons/sofia/right_nav.png" alt="sup" width="30" height="30" border="0"></button>
                    </div>
                    <div *ngIf = "i == gameData?.questions.length - 1">
                      <button class="mat-raised-button mat-accent" type="submit" color="accent" mat-raised-button="">
                        <span class="mat-button-wrapper">
                            {{'GAME.SUBMITBUTTON' | translate}}
                        </span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div>
                      </button>
                      <button mat-button>{{'GAME.CLEARBUTTON' | translate}}</button>
                    </div>
              </mat-step>

            </div>

            </mat-horizontal-stepper>

          </form>
            <!--
            <div>
              <pre>form value: <br>{{gameForm.value | json}}</pre>
            </div>
          -->

      </mat-card-content>
    </mat-card>
</div>
<div *ngIf = "isRateViewActive" class="page-layout blank grey-100-bg ps ps--active-y" fuseperfectscrollbar>
    <mat-card class="viewGameCard">
      <mat-card-header [style.backgroundColor]="'#039be5'" [style.color]="'white'" >
        <mat-card-title>
            <div class="layout-row layout-align-end-start">
            <h1>{{'GAME.END_MSG' | translate}} 🎉</h1>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding: 40px;">
          <h2>{{'GAME.SCORE_MSG' | translate}} {{ score}}</h2>

          <rate-game [document]="gameDoc" returnURL="{{'courses/'.concat(courseID,'/games')}}"></rate-game>






      </mat-card-content>
    </mat-card>
</div>
