<div class="page-layout blank grey-100-bg ps ps--active-y" fuseperfectscrollbar>
  <mat-card class="viewGameCard">
    <mat-card-header [style.backgroundColor]="'orange'" [style.color]="'white'" >
      <mat-card-title>
        <div class="layout-row layout-align-end-start">
          <h1>{{gameData.name}}</h1>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding: 40px;">
        <form [formGroup]="gameForm">
          <mat-horizontal-stepper formArrayName="questions">
            <mat-step *ngFor = "let q of gameData.questions; let i= index" [stepControl]="q">
              <h2>{{q.question}}</h2>
              <mat-grid-list cols="2" rowHeight="400px">
                <mat-grid-tile *ngFor = "let ans of q.answers">
                  <mat-card class="question-card">
                    <mat-card-content>
                      <p>{{ans.answer}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <mat-checkbox align="end"></mat-checkbox>
                    </mat-card-actions>
                  </mat-card>
                </mat-grid-tile>
              </mat-grid-list>
              <div>
                <button mat-button matStepperNext type="button"><img src="assets/icons/sofia/right_nav.png" alt="sup" width="30" height="30" border="0"></button>
              </div>
              <div *ngIf="i >= 1">
                <button mat-button matStepperPrevious type="button"><img src="assets/icons/sofia/left_nav.png" alt="sup" width="30" height="30" border="0"></button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </form>
    </mat-card-content>
  </mat-card>
</div>
