<div class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">

      <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="end center">

          <button [routerLink]="['../game/create']" matTooltipPosition = "above" matTooltip="New Game" mat-icon-button>
                  <mat-icon >add</mat-icon>
          </button>

      </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">


        <mat-tab-group dynamicHeight>
          <mat-tab label="{{'GAMES.TITLE' | translate }}">

            <div class="widget-group p-12" fxLayout="row" fxFlex="100" fxLayoutWrap *fuseIfOnDom [@animateStagger]="{value:'50'}">


              <fuse-widget *ngFor="let game of games | async" [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                  <!-- Front -->
                  <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                      <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="end center">

                          <button matTooltipPosition = "above" matTooltip="{{'GAMES.TOOLTIP' | translate }}" mat-icon-button fuseWidgetToggle aria-label="more" >
                                  <mat-icon>more_vert</mat-icon>
                          </button>

                      </div>

                      <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                          <button mat-fab [routerLink]="['../game/view/', game.id]">
                              <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">play_arrow</mat-icon>

                          </button>
                          <br>
                          <div class="h3 secondary-text font-weight-500">{{game.name}}</div>
                      </div>

                      <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">

                          <span class="h4 ml-8">{{game.description}}</span>
                      </div>
                  </div>
                  <!-- / Front -->

                  <!-- Back -->
                  <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                      <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                              aria-label="Flip widget">
                          <mat-icon class="s-16">close</mat-icon>
                      </button>

                      <div class="button-row" fxLayoutAlign="center center">
                        <button mat-raised-button color="basic" [routerLink]="['../game/edit/', game.id]">
                          <mat-icon>mode_edit</mat-icon>
                          {{'GAMES.EDITBUTTON' | translate }}
                        </button>
                      </div>

                      <br>
                      <div class="button-row" fxLayoutAlign="center center">
                        <button (click) = "deleteDocument(game.id)" mat-raised-button color="warn">
                          <mat-icon>delete_forever</mat-icon>
                          {{'GAMES.DELETEBUTTON' | translate }}
                        </button>
                      </div>



                  </div>
                  <!-- / Back -->

              </fuse-widget>



            </div>

          </mat-tab>
      </mat-tab-group>

    </div>
    <div>
      <fuse-widget class="widget widget5 ng-trigger ng-trigger-animate" fxflex="100" fxlayout="row" style="flex: 1 1 100%; box-sizing: border-box; flex-direction: row; display: flex; max-width: 100%; width: 100%">
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <div  class="p-16" fxlayout="row" fxlayoutalign="space-between center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center space-between; align-items: center;">
              <button *ngIf = "isPressed" (click)="pressButton()" matTooltipPosition = "above" matTooltip="Back" mat-icon-button>
                    <mat-icon>keyboard_backspace</mat-icon>
              </button>
              <div class="pr-16">
                  <div *ngIf = "!isPressed" class="h1 font-weight-300">Preguntas Frecuentes</div>
                  <div *ngIf = "isPressed" class="h1 font-weight-300">Agregar Pregunta</div>

              </div>

              <div class="ng-tns-c92-425">
                  <button matTooltipPosition = "above" matTooltip="Nueva Pregunta" (click)="pressButton()" mat-icon-button>
                    <mat-icon>add</mat-icon>
                  </button> 
              </div>
          </div>
          <div *ngIf = "!isPressed">
            <app-recent-questions style="width:100%; height: 95%"></app-recent-questions>
          </div>
          <div *ngIf = "isPressed">
            <app-add-question style="width:100%;" [isBackButtonPressed] = "isPressed" ></app-add-question>
          </div>

        </div>                           
      </fuse-widget>
    </div>

    <div *ngIf = "isPressed">
    </div>
    <!-- / CONTENT -->

</div>
